<a class="mdl-navigation__link" href="/welcome">Home</a>
<a class="mdl-navigation__link" href="/whistles">Lista whistles</a>
<a class="mdl-navigation__link" href="/config">Configura</a>
<a class="mdl-navigation__link" href="/keys">Chiavi</a>
<a class="mdl-navigation__link" href="/pwd">Password</a>
<a class="mdl-navigation__link" href="/logoutadmin">Logout</a>
