<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-width">
  <input class="mdl-textfield__input" type="{{this.type}}" id="{{@key}}" name="{{@key}}" {{#if this.pattern}}pattern="{{this.pattern}}"{{/if}} {{#if this.required}}required{{/if}}/>
  <label class="mdl-textfield__label" for="{{@key}}">{{{this.label}}}</label>
  {{#if this.error}}<span class="mdl-textfield__error">{{{this.error}}}</span>{{/if}}
  
  {{#if this.help}}<p class="help-block">{{{this.help}}}</p>{{/if}}

</div>
