<div class="demo-blog__posts mdl-grid">
  <div class="demo-card-wide mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Stato della segnalazione</h2>
    </div>
    <div class="mdl-card__supporting-text">
      Gentile utente,<br/>questo è l'attuale iter della tua segnalazione:
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <table class="decrypteduser mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">Stato</th>
            <th class="mdl-data-table__cell--non-numeric">Data</th>
            <th class="mdl-data-table__cell--non-numeric full-width">Nota</th>
          </tr>
        </thead>
          {{#each states}}
            <tr>
              <td class="mdl-data-table__cell--non-numeric">{{replaceState state}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{formatDate date 'DD/MM/YYYY HH:mm'}}</td>
              <td class="mdl-data-table__cell--non-numeric mdl-data-table__cell--wrap">{{note}}</td>
            </tr>
          {{/each}}
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
