<div class="demo-blog__posts mdl-grid">
  <div class="demo-card-wide mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Attenzione</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <h5>La pagina può essere raggiunta solamente tramite <strong>ALTANA</strong>!</h5>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-typography--text-center">
          <a href="https://intranet.comune.venezia.it">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Accedi ad Altana
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
