<div class="demo-blog__posts mdl-grid">
  <div class="demo-card-wide mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Benvenuto {{session.role}}</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <p>Ti ricordiamo che per poter visualizzare il contenuto delle segnalazioni devi essere in possesso della tua chiava privata e relativa passphrase</p>
      <p>Per ogni segnalazione, vedrai solamente il messaggio e gli allegati inviati dall'utente.</p>
      <p>Sarai inoltre in grado di aggiungere delle note per ogni segnalazione. Note che il segnalante sarà in grado di leggere.</p>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-typography--text-center">
          <a href="/whistles">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Vai alla lista delle segnalazioni
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
