{{#section 'head'}}
  <link rel="stylesheet" href="/bower_components/material-modal/dist/css/material-modal.min.css">
  <link rel="stylesheet" href="/bower_components/mdl-selectfield/mdl-selectfield.min.css">
  <link rel="stylesheet" href="/js/paper-collapse/paper-collapse.css">
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/openpgp/dist/openpgp.min.js"></script>
  <script src="/bower_components/momentjs/min/moment.min.js"></script>
  <script src="/bower_components/jszip/dist/jszip.min.js"></script>
  <script src="/bower_components/mdl-selectfield/mdl-selectfield.min.js"></script>
{{/section}}

{{#with whistle}}
<div class="demo-blog__posts mdl-grid">
  <div class="demo-card-wide mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Whistle</h2>
    </div>
    <div class="mdl-card__supporting-text">
      Dati del whistle <strong>{{_id}}</strong> del <strong>{{formatDate date 'DD/MM/YYYY HH:mm'}}</strong>
    </div>
    <div class="mdl-card__actions mdl-card--border">

      <div class="collapse-card mdl-shadow--2dp">
        <div class="title">
          <i class="material-icons more">expand_more</i>
          <i class="material-icons less hide">expand_less</i>
          <strong>Whistle Criptato</strong>
        </div>
        <div id="encryptedwhistle" class="body">{{{msg}}}</div>
      </div>

      <div class="mdl-grid">
        <form id="decrypt" class="full-width">
          <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-width">
              <textarea id="privkey" class="mdl-textfield__input" type="text" rows= "6" required></textarea>
              <label class="mdl-textfield__label" for="privkey">Private key</label>
            </div>
          </div>

          <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input id="passphrase" class="mdl-textfield__input" type="password" required/>
              <label class="mdl-textfield__label" for="passphrase">Passphrase</label>
            </div>
          </div>

          <div class="mdl-cell mdl-cell--12-col">
            <button class="mdl-button-decrypt mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
              Decripta
            </button>
          </div>
        </form>

        <section id="decriptsection" class="hide">
          <section class="mdl-shadow--2dp section-padding">
            <div class="mdl-cell mdl-cell--12-col">
              <h5>Whistle decriptato:</h5>
              <!--<p id="decryptedwhistle" class="mdl-shadow--2dp crypted-box"></p>-->
              <table class="decryptedmsg mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width">
                <tbody></tbody>
              </table>
            </div>

            {{#each files}}
              <div class="mdl-cell mdl-cell--12-col">
                <h5>Lista file allegati</h5>
              </div>
              <div class="mdl-cell mdl-cell--12-col">
                <div id="decryptedfiles"></div>
              </div>
            {{else}}
              <div class="mdl-cell mdl-cell--12-col">
                <p>Nessun file presente</p>
              </div>
            {{/each}}

            <div class="mdl-cell mdl-cell--12-col">
              <h5>Lista stati del whistle:</h5>
              <table class="decrypteduser mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width">
                <thead>
                  <tr>
                    <th class="mdl-data-table__cell--non-numeric">Stato</th>
                    <th class="mdl-data-table__cell--non-numeric">Data</th>
                    <th class="mdl-data-table__cell--non-numeric full-width">Nota</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each states}}
                    <tr>
                      <td class="mdl-data-table__cell--non-numeric">{{replaceState state}}</td>
                      <td class="mdl-data-table__cell--non-numeric">{{formatDate date 'DD/MM/YYYY HH:mm'}}</td>
                      <td class="mdl-data-table__cell--non-numeric mdl-data-table__cell--wrap">{{note}}</td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </section>

          <section class="mdl-shadow--2dp section-padding">
            <div class="mdl-cell mdl-cell--12-col">
              <h5>Aggiungi una nota</h5>
            </div>

            <form id="addnote" class="full-width">
              <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
                  <select class="mdl-selectfield__select" id="state" required>
                    <option value=""></option>
                    {{#each ../states}}
                      <option value="{{@key}}">{{this}}</option>
                    {{/each}}
                  </select>
                  <label class="mdl-selectfield__label" for="professsion">Stato</label>
                </div>
              </div>

              <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-width">
                  <textarea class="mdl-textfield__input" type="text" rows= "3" id="note"></textarea>
                  <label class="mdl-textfield__label" for="note">Nota</label>
                </div>
              </div>

              <div class="mdl-cell mdl-cell--12-col">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                  Aggiungi
                </button>
              </div>
            </form>
          </section>

        </section>
      </div>
    </div>
  </div>
</div>
{{/with}}

{{#section 'beforebodyend'}}
  <div id="modal" class="modal modal__bg">
    <div class="modal__dialog">
      <div class="modal__content">
        <div class="modal__header">
          <div class="modal__title">
            <h2 class="modal__title-text">Errore</h2>
          </div>
          <span class="mdl-button mdl-button--icon mdl-js-button material-icons modal__close"></span>
        </div>

        <div class="modal__text">
          <p class="error_msg"></p>
        </div>

        <div class="modal__footer">
          <a class="mdl-button mdl-button--colored mdl-js-button modal__close">
            Chiudi
          </a>
        </div>
      </div>
    </div>
  </div>
{{/section}}

{{#section 'afterbody'}}
  <script src="/js/material-modal/material-modal.js"></script>
  <script src="/js/paper-collapse/paper-collapse.js"></script>
  <script src="/js/utils/crypto.js"></script>
  <script src="/js/whistle.js"></script>
  <script>
    whistle('{{whistle._id}}', '{{whistle.files.[0]}}')
  </script>
{{/section}}
